@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.currency_converter {
  flex-grow: 1;

  background-color: $color-black;
  .container {
    @extend %container;

    .currency_converter_inner {
      .currency_converter_title{
        margin: 15px 0;

        color: $color-white;

        font-weight: 700;
        font-size: 22px;
        line-height: 1.2em;
        text-transform: capitalize;
      }

      .currency_converter_container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .currency_converter_box{
          width: 48%;

          padding: 15px;
          border-radius: 6px;

          background-color: $color-dark-grey;
        }
      }
    }
  }
}