@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.home {
  flex-grow: 1;

  background-color: $color-black;
  .container {
    @extend %container;

    .home_inner {
      .home_title{
        margin-top: 15px;

        color: $color-white;

        font-weight: 700;
        font-size: 22px;
        line-height: 1.2em;
        text-transform: capitalize;
      }
    }
  }
}